<form action="repo" method="get" accept-charset="utf-8" class="submit-repo">

    <label for="repo">github.com/</label><input type="text" name="repo" value="" id="repo" placeholder="rails/rails"/>
    <input type="submit" value="Find TODOs &rarr;">

</form>

<% if @repo %>
  <section id="repo">
      TODOs for: <a href="http://github.com/<%= @repo %>">http://github.com/<%= @repo %></a>
  </section>
<% end %>

<hr />

<% if @todos %>
  <section id="todos">
    <% @todos.each do |todo| %>
      <% todo.each_pair do |k, v| %>
        <% line_url = "http://github.com/#{@repo}/blob/master" + k.gsub("/Users/gareth/Code/hackdo/tmp/#{@tmp_folder}", "") + "#L#{v.first.line}" %>
        <p><a href="<%= line_url %>"><%= k.gsub("/Users/gareth/Code/hackdo/tmp/#{@tmp_folder}", "") %> [<%= v.first.line %>]</a> <%= v.first.tag.upcase %>: <%= v.first.text %></p>
      <% end %>
    <% end %>
  </section>
<% end %>